---
layout: markdown_page
title: "Group Direction - Custom Models"
description: "Focused on grounding and enriching AI models with Customer data to produce higher quality model outputs"
canonical_path: "/direction/ai-powered/custom_models/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview
The Custom Models group is an AI Research arm that focuses on grounding and enriching AI models with Customer data to produce higher quality model outputs. Grounding aims to help reduce model hallucinations and generally increase the quality of model outputs.

This group will work with open source AI models, foundational large language models (LLMs) from hypercloud vendors, models from AI startups, and in-house trained models. These models will power GitLab Duo functionality to provide higher quality responses grounded in customer’s source code and GitLab data. This group will work with other GitLab stages to identify and research opportunities to customize AI models that power Duo features across the platform.

## Focus
- Work closely with internal development, technical field, legal, and privacy teams to identify and research opportunities to use customer data within AI models.
- Deeply understand customer privacy and security concerns associated with AI/ML use cases
- Build, store and serve AI models to power GitLab Duo features while maintaining customer privacy, legal compliance, and data security
- Work to bring these custom models to all GitLab distributions: GitLab.com (multi-tenant SaaS), - Dedicated (single tenant SaaS), and self-managed customers including air-gapped environments.

<p align="center">
    <i><br>
    Last Reviewed: 2024-01-30<br>
    Last Updated: 2024-01-30
    </i>
</p>